.Card {
  padding: 10px;
  max-width: 200px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  background: #fff;
  border: 1px solid lightblue;
}

.Card > div {
  padding: 10px;
}

.Card-header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.Card-body {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: left;
}

.Card-footer {
  text-align: right;
}



